html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: "muli", sans-serif;
    font-weight: normal;
    background: #FFFFFF;
}
p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1920px;
    @media screen and (max-width: 320px){
        height: 35px;
        width: 320px;
        margin-left: 17px;
    }
}
.header-search-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
    width: 1060px;  
    box-sizing: border-box;
    @media screen and (max-width: 320px){
        width: 320px;
        margin-left: 0;
    }
}
.header-burger{
    width: 20px;
    height: 17px;
    @media screen and (max-width: 320px){
       display: none;
    }
}
.header-logo {
     display: flex;
    flex-direction: row;
    width: 116px;
    height: 25px;
    margin-left: 30px;
    @media screen and (max-width: 320px){
      margin-left: 0px;
    }
}
.header-search {
   background: #EBEBEB;
    mix-blend-mode: normal;
    border-radius: 22px;
    width: 830px;
    height: 44px;
    opacity: 30%;
    margin-left: 55px;
    @media screen and (max-width: 320px){
        background: #fff;
        width: 20px;
        height: 20px;
        opacity: 30%;
        margin-left: 75px;
    }
}
.header-search-input {
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 16px;
    line-height: 20px;
    background: #EBEBEB;
    margin-left: 25px;
    @media screen and (max-width: 320px){
        display: none;
    }
}
.notifications{
    position: absolute;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background: #FF0000;
    border: 1px solid #FFFFFF;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    bottom: 27px;
    left: 8px;
    padding-top: 4px;
}
.header-search-input-img{
   height: 19px;
   width: 19px;
   margin-left: 570px;
   margin-top: 10px;
    @media screen and (max-width: 320px){
        margin-left: 25px;
        margin-top: 0;
    }
}
.header-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 265px;
    margin-top: 17px;
    margin-right: 67px;
    @media screen and (max-width: 320px){
        display: none;
    }
}

.menu-dots {
    display: none;
    @media screen and (max-width: 320px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 5px;
        height: 19px;
        position: absolute;
        top: 15px;
        left: 295px;
    }    
}

.menu-dots img {
      @media screen and (max-width: 320px) {
        width: 5px;
        height: 5px;
        background: #000000;
        transform: rotate(-90deg);
        border-radius: 10px;
    }
}
.video-wrapper{
    position: relative;
}
.video-wrapper img{
    margin-top: 10px;
}
.content {
   display: flex;
   flex-direction: row;
   @media screen and (max-width: 320px){
    flex-direction: column;
   }
}
.main-video{
    margin-left: 79px;
    margin-top: 22px;
    @media screen and (max-width: 320px){
        width: 320px;
        height: 180px;
        margin-left: 0;
        margin-top: 25px;
    }
}
.main-video-container {
    width: 1363px;
    height: 700px;
    @media screen and (max-width: 320px){
        position: relative;
        width: 320px;
        height: 180px;
    }
}
.main-video-time{
    position: absolute;
    z-index: 1;
    left: 111px;
    top: 660px;
    bottom: 514px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1300px;
    @media screen and (max-width: 320px){
        width: 220px;
        left: 50px;
        top: 185px;
        align-items: center;
    }
}

.time {
    font-size: 22px;
    line-height: 28px;
    color: #FFF;
    @media screen and (max-width: 320px){
        font-size: 10px;
        line-height: 12px;
    }
}

.main-video-btns{
    position: absolute;
    top: 740px;
    left: 122px;
    bottom: 439px;
    right: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1280px;
     @media screen and (max-width: 320px){
        width: 308px;
        height: 30px;
        top: 167px;
        left: 6px;
        right: 5px;
        background: #000000;
        border-radius: 10px;
        opacity: 60%;
    }
}
.main-video-btns-left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 24px;
    width: 260px;
    @media screen and (max-width: 320px){
        margin-left: 18px;
        margin-top: 10px;
        width: 380px;
    }
}
.main-video-btns-left-pause{
    @media screen and (max-width: 320px){
        display: flex;
        width: 12px;
        height: 12px;
    }
}
.main-video-btns-left-next{
     @media screen and (max-width: 320px){
        display: none;
    }
}
.main-video-btns-left-volume{
     @media screen and (max-width: 320px){
        display: flex;
        width: 50px;
        height: 12px;
        margin-right: -20px;
    }
}
.main-video-btns-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 24px;
    width: 200px;
    @media screen and (max-width: 320px){
        display: none;
    }
}
.progress {
    position: absolute;
    top: 705px;
    left: 113px;
    bottom: 484px;
    right: 510px;
    @media screen and (max-width: 320px){
        z-index: 1;
        width: 156px;
        height: 5px;
        top: 180px;
        border-radius: 5px;
        left: 75px;
    }
}
.main-video-name{
    width: 1363px;
    margin-left: 80px;
    margin-top: 50px;
    @media screen and (max-width: 320px){
        width: 320px;
        margin: 0;
    }
}
h1{
    font-size: 36px;
    line-height: 45px;
    color: #192646;
    @media screen and (max-width: 320px){
        width: 210px;
        font-size: 20px;
        line-height: 25px;
        margin-top: 41px;
        margin-left: 16px;
    }
}

.main-video-views-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -17px;
    @media screen and (max-width: 320px){
        flex-direction: column;
        height: 74px;
        margin-left: 15px;
        margin-top: -10px;
    }
}

.main-video-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: -10px;
    @media screen and (max-width: 320px){
        width: 320px;
    }
}
.views{
    font-size: 20px;
    line-height: 25px;
    color: #C2C2C2;
    @media screen and (max-width: 320px){
        font-size: 12px;
        line-height: 15px;
        width: 63px;
    }
}

.more {
    width: 28px;
    height: 6px;
    @media screen and (max-width: 320px){
        display: none;
    }
} 

.right-arrow{
   display: none; 
   @media screen and (max-width: 320px){
        display: flex;
        position: absolute;
        top: 266px;
        right: 20px;
        left: 290px;
        bottom: 751px;
   }
}
.subscribers{
    display: none;
    @media screen and (max-width: 320px){
        display: flex;
        font-size: 12px;
        color: #C2C2C2;
        margin-top: -15px;
    }
}
.main-description{
    width: 1368px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 75px;
    margin-top: 53px;
    @media screen and (max-width: 320px){
        width: 290px;
        margin-left: 14px;
        margin-top: 49px;
        height: 75px;
    }
}
.main-description-description{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 920px;
    height: 195px;
    
}
.main-description-image{
    width: 80px;
    height: 80px;
    margin-right: 12px;
    @media screen and (max-width: 320px){
        width: 50px;
        height: 50px;
    }
}
.main-description-info{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    margin-top: 3px;
     @media screen and (max-width: 320px){
        font-size: 16px;
     }
}
.main-description-text-publish{
    font-size: 13px;
    line-height: 16px;
    color: #C2C2C2;
    margin-top: -15px;
    margin-bottom: 13px;
     @media screen and (max-width: 320px){
        display: none;
    }
}
.main-description-text{
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
    margin-bottom: 15px;
    @media screen and (max-width: 320px){
        display: none;
    }
}
.main-description-text-show-more{
    font-size: 20px;
    line-height: 25px;
    color: #C2C2C2;
     @media screen and (max-width: 320px){
        display: none;
    }
}
.main-user-subscribe-btn {
    background: #FF0000;
    border: none;
    border-radius: 20px;
    width: 154px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
     @media screen and (max-width: 320px){
        background: none;
        color:#FF0000;
        margin-top: 7px;
    }
}
.subscribe-span{
     @media screen and (max-width: 320px){
        display: none;
    }
}
.next {
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
    color: #19202C;
    @media screen and (max-width: 320px){
        font-size: 20px;
        margin-left: 16px;
        margin-top: 10px;
    }
}
.autoplay {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #19202C;
    margin-top: 18px;
    margin-left: 140px;
    @media screen and (max-width: 320px){
        font-size: 10px;
        margin-top: 25px;
        margin-left: 145px;
        letter-spacing: 0.64px;
    }
}
.autoplay-img {
    width: 24px;
    height: 24px;
    margin-top: 15px;
    margin-left: 25px;
    background: #2196F3;
    border-radius: 15px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.237602);
    @media screen and (max-width: 320px){
        width: 16px;
        height: 16px;
        margin-top: 25px;
    }
}
.aside-videos-collection {
    margin-left: 40px;
    height: 1100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 320px){
        width: 320px;
        margin: 0;
        height: 466px;
        overflow: hidden;
        gap: 10px;
    }
}

.aside-videos-collection-header{
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 320px){
        width: 300px;
    }
}
.aside-video{
    margin-bottom: 23px;
    @media screen and (max-width: 320px){
        width: 288px;
        margin-top: -20px;
        margin-left: 15px;
        margin-bottom: 30px;
    }
}
.no-display{
    @media screen and (max-width: 320px){
        display: none;
    }
}
.video-wrapper{
    position: relative;
}
.video-wrapper img{
    margin-bottom: 13px;
     @media screen and (max-width: 320px){
        width: 288px;
        height: 150px;
    }
}
.video-length{
    position: absolute;
    left: 310px;
    bottom: 27px;
    z-index: 1;
    font-size: 14px;
    line-height: 24px;
    width: 47px;
    text-align: center;
    color: #FFFFFF;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    border-radius: 12px;
    @media screen and (max-width: 320px){
        left: 231px;
    }
}
.video-name {
    font-size: 26px;
    line-height: 33px;
    color: #19202C;
    font-weight: bolder;
    margin-bottom: 7px;
     @media screen and (max-width: 320px){
        font-size: 16px;
        margin-top: -12px;
     }
}
.main-content-grid-item-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: -7px;
}
.main-content-grid-item-footer p{
    font-size: 18px;
    line-height: 23px;
    color: #C2C2C2;
     @media screen and (max-width: 320px){
        font-size: 13px;
        margin-top: -14px;
     }
}

.grey-line1,
.grey-line2{
    @media screen and (max-width: 320px){
        display: block;
        position: absolute;
        width: 281px;
        height: 1px;
        background: rgba(216, 216, 216, 0.5);
        left: 16px;
        right: 16px;
    }
}
.grey-line1{
    @media screen and (max-width: 320px){
        top: 412px;
        bottom: 611px;
    }
}
.grey-line2{
    @media screen and (max-width: 320px){
        top: 503px;
        bottom: 520px;
    }
}


@media screen and (max-width: 320px){
    body{
        height: 1024px;
    }
    .footer {
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: space-around;
        width: 320px;
        top: 965px;
        height: 86px;
        left: 0;
        right: 0;
        border-top: 1px solid #F1F1F1;
        background: #fff;
    }
    .footer-element1,
    .footer-element2,
    .footer-element3,
    .footer-element4{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 40px;
    }
    .footer-element1{
        width: 28px;
        height: 37px;
        top: 11px;
        left: 24px;
        right: 268px;
    }
    .footer-element2{
        width: 41px;
        height: 38px;
        top: 11px;
        left: 98px;
        right: 181px;
    }
    .footer-element3{
        width: 63px;
        height: 36px;
        top: 13px;
        left: 168px;
        right: 89px;
    }
    .footer-element4{
        width: 33px;
        height: 35px;
        top: 13px;
        left: 265px;
        right: 22px;
    }
    .footer-element1 a,
    .footer-element2 a,
    .footer-element3 a,
    .footer-element4 a { 
        font-size: 10px;
        line-height: 13px;
        color: #898989;
    }
}
